<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">Carnet de recettes</a>
      </div>
      <div class="collpase navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="/recipes">Recettes</a></li>
          <li routerLinkActive="active"><a routerLink="/shopping-list">Liste</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Gérer <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;" (click)="onSaveData()">Enregistrer</a></li>
              <li><a style="cursor: pointer;" (click)="onFetchRecipes()">Télécharger</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
